<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Automation Machine - Web Scraper</title>
  </head>
  <body background="{{url_for('static', filename='61769.jpg')}}">
      <img src="{{url_for('static', filename='machine.png')}}"/>
      <br>
      <h1>Business Sulit PH Web Scraper</h1>
      <p>This is a web scraper for Business Sulit PH Business Directory Web Page.</p>
      <br>
      <p>Please select a business category of your choice below:</p>
      <form action="{{ url_for('bus_cat') }}" method="GET">
        <div>
          {% for business_name_cat in cat_we: %}
              <h3><button type="submit" name="Category_Link" value='{{ business_name_cat.get("href") }}'>{{ business_name_cat.getText() }}</button></h3>
          {% endfor %}
        </div>
      </form>
      <hr noshade>
  </body>
</html>
