<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Automation Machine - Web Scraper</title>
  </head>
  <body background="static\61769.jpg">
      <img src="static\machine.png"/>
      <br>
      <h1>Web Scraper for Yellow Pages PH</h1>
      <p>This is a web scraper for Yellow Pages PH Business Directory Web Page.</p>
      <br>
      <p>Please select a business category of your choice below:</p>
      <form action="{{ url_for('bus_cat_yp') }}" method="GET">
        <div>
          {% for business_name_cat in cat_WE: %}
              <h3><button type="submit" name="Category_Link" value='{{ business_name_cat.get_attribute("href") }}'>{{ business_name_cat.text }}</button></h3>
          {% endfor %}
      </form>
      <hr noshade>
  </body>
</html>
