<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Automation Machine - Web Scraper</title>
  </head>
  <body background="static\61769.jpg">
      <img src="static\machine.png"/>
      <br>
      <h1>Web Scraper Automation</h1>
      <p>This is a web scraping automation, created by iMadz Solutions and Technologies, Inc.</p>
      <br>
      <p>Good day to all, this web scraping application is intended for business owners or freelancers with B2B model, who wish to boost their lead generation and sales, by getting necessary details from public yellow pages website in PH.</p>
      <hr noshade>
      <p><em><strong>Please see options and click below, your choice of business directory website that you can scrape in to:</em></strong></p>
      <h3>Business Directories Websites:</h3>
      <ul>
          <li><a href="{{ url_for('yp_busdir')}}">Yellow Pages PH</a></li>
          <li><a href="{{ url_for('BL_busdir')}}">Business List PH</a></li>
          <li><a href="{{ url_for('BS_busdir')}}">Business Sulit PH</a></li>
      </ul>
      <hr noshade>
      <br>
      <h3>FAQs</h3>
      <p>You can visit this <a href="{{ url_for('FAQ')}}">link</a> for reference on frequently asked questions.</p>
  </body>
</html>
