<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Automation Machine - Web Scraper</title>
  </head>
  <body background="{{url_for('static', filename='61769.jpg')}}">
      <img src="{{url_for('static', filename='machine.png')}}"/>
      <br>
      <h1>Web Scraper for Yellow Pages PH</h1>
      <p>This is a web scraper for Yellow Pages PH Business Directory Web Page.</p>
      <br>
      <p>The category that you've selected has {{ nmberofpges }} number of pages.</p>
      <p>Please fill up the form with your desired page extent value that you would like to scrape; the scraping starts from page 1.</p>
      <form action="#" method="POST">
        <div>
          <h3><input type="text" name="extent"</type></h3>
          <h3><button type="submit">Submit</button></h3>
        </div>
      </form>
      <hr noshade>
  </body>
</html>
